<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= task.title %></h5>
    <div class="card-subtitle text-muted">
      Created by:
      <p class="badge text-bg-purple"><%= task.author.email %></p>
    </div>
    <div class="cart-text text-muted">
      assigned: <%= render 'tasks/task_assigned_users', task: task %>
    </div>
    <hr>
    <%= render 'tasks/dropdown_button', task: task %>
    <span class="card-text">
      <%= task.details %>
    </span>
    <hr>
    <p class="badge bg-info">
      Time assigned to task: <%= pluralize(task.doing_time, 'hour') %>
    </p>
    <p class="card-text text-muted">
      time justification:
    </p>
    <small class="card-text">
      <%= task.justification %>
    </small>
    <p class="badge bg-success">Started at: <%= task.started_at %></p><br>
    <p class="badge bg-secondary">Finished at: <%= task.finished_at %></p>
    <hr>
    <small class="card-text">Created <%=  time_ago_in_words(task.created_at) %> ago</small>
    <%= render 'tasks/task_history', task: task %>
  </div>
</div>

