<section class='container-fuild col-8 text-bg-purple p-4 rounded-3'>
  <h3>Create new Board</h3>
  <%= render 'shared/errors', obj: @board %>
  <%= form_with model: @board do |f| %>
    <div class="field mb-3">
      <%= f.label :title, class: 'form-label' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :visibility, class: 'form-label mr-1' %>
      <%= f.select :visibility, Board.visibilities.keys, class: 'form-select' %>
    </div>
    <div class="actions d-flex offset-sm-9 ">
      <%= link_to 'Back', :back, class: 'btn btn-light mx-2' %>
      <%= f.submit class: 'btn btn-light' %>
    </div>
  <% end %>
</section>
