<section class='container-fuild col-8 col-sm-6 offset-sm-3 text-bg-purple p-3 rounded-3'>
  <%= render 'shared/errors', obj: @plan %>
  <%= form_with model: @plan do |f|  %>
    <div class="field">
      <%= f.label :plan_name, class: 'form-label' %>
      <%= f.text_field :plan_name, class: 'form-control' %>
    </div>
    <div class="row">
      <div class="field col-6">
        <%= f.label :price_cents, class: 'form-label' %>
        <%= f.number_field :price_cents, class: 'form-control' %>
      </div>
      <div class="field col-6">
        <%= f.label :price_currency, class: 'form-label' %>
        <%= f.text_field :price_currency, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="field col-6">
        <%= f.label :plan_members, class: 'form-label' %>
        <%= f.number_field :plan_members, class: 'form-control' %>
      </div>
      <div class="field col-6">
        <%= f.label :plan_duration, class: 'form-label ' %>
        <%= f.number_field :plan_duration, class: 'form-control' %>
      </div>
    </div>
    <div class='actions'>
      <%= f.submit class: 'btn btn-light offset-sm-9 mt-3'  %>
    </div>
  <% end %>
</section>
